*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
}


h1 {
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    text-decoration: underline;
    font-size: 40px;
    color: blueviolet;
}


.nav>img{
    max-width: 9%;
}


.nav {
    display: flex;       
    height: 9vh;
}


h2 {
    margin-top: 2%;
    color: blueviolet;
    font-size: 80px;
    text-align: center;
}


h3 {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 2%;
    margin-left: 20px;
    color: blueviolet;
}


h4 {
    text-decoration: underline;
    font-size: 30px;
    margin-top: 2%;
    margin-left: 20px;
    color: blueviolet;
}


img {
    transition: 0.2 ease-in-out;
}


img:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.07);
}


.card {
    transition: 0.2 ease-in-out;
}


.card:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.15);
}


.row {
    background-color: black;
}

.g-0{
    background-color: white;
}


